@import url("system.sh.css");

dialog#pkginfo {
  width: 90%;
  height: 90%;
}

.switch>input:checked+span:after {
  opacity: 0;
}

:root,
body.light {
  --primary: #cdcdcd;
  --on-primary:#3a6df0;
  --primary-container:#cae6ff;
  --on-primary-container:#001e30;
  --secondary:#f7f7f7;
  --on-secondary:#3c3a3a;
  --secondary-container:rgb(189 189 189 / 70%);
  --tertiary:#3a6df0;
  --on-tertiary:#fff;
  --tertiary-container:#ebddff;
  --on-tertiary-container:#201634;
  --error:#ba1a1a;
  --on-error:#ffffff;
  --error-container:#ffdad6;
  --on-error-container:#410002;
  --background:#fcfcff;
  --on-background:#3c3a3a;
  --surface:#d4d5d7;
  --on-surface:#1a1c1e;
  --surface-variant:#c3c5c7;
  --on-surface-variant:#41474d;
  --outline:#72787e;
  --outline-variant:#c1c7ce;
  --shadow:#000000;
  --scrim:#000000;
  --inverse-surface:#2e3133;
  --inverse-on-surface:#f0f0f3;
  --inverse-primary:#8dcdff;
  --surface-dim:#d9dadd;
  --surface-bright:#f9f9fc;
  --surface-container-lowest:#ffffff;
  --surface-container-low:#f3f3f6;
  --surface-container:#edeef1;
  --surface-container-high:#e8e8eb;
  --surface-container-highest:#cdcdcd;
  --overlay: rgb(0 0 0 /0.5);
  --active: rgb(0 0 0 / 0.1);
  --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
  --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
  --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
  --body: transparent;
}

body.dark {
  --primary: #21242d;
  --on-primary:#ffffff;
  --primary-container:#004b70;
  --on-primary-container:#cae6ff;
  --secondary:#21242d;
  --on-secondary:#ffce45;
  --secondary-container:rgb(32 36 45 / 70%);
  --on-secondary-container:#fff;
  --tertiary:#3a6df0;
  --on-tertiary:#fff;
  --tertiary-container:#4d4162;
  --on-tertiary-container:#ebddff;
  --error:#ffb4ab;
  --on-error:#690005;
  --error-container:#93000a;
  --on-error-container:#ffb4ab;
  --background:#1a1c1e;
  --on-background:#e2e2e5;
  --surface:#2f333e;
  --on-surface:#e2e2e5;
  --surface-variant:#272b38;
  --on-surface-variant:#c1c7ce;
  --outline:#8b9198;
  --outline-variant:#41474d;
  --shadow:#000000;
  --scrim:#000000;
  --inverse-surface:#e2e2e5;
  --inverse-on-surface:#2e3133;
  --inverse-primary:#006493;
  --surface-dim:#111416;
  --surface-bright:#37393c;
  --surface-container-lowest:#0c0e11;
  --surface-container-low: #3a4049;
  --surface-container:#1e2022;
  --surface-container-high:#282a2d;
  --surface-container-highest:#20242d;
  --overlay: rgb(0 0 0 / 0.5);
  --active: rgb(255 255 255 / 0.2);
  --elevate1: 0 0.125rem 0.125rem 0 rgb(0 0 0 / 0.32);
  --elevate2: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 0.4);
  --elevate3: 0 0.375rem 0.75rem 0 rgb(0 0 0 / 0.48);
  --body: transparent;
}


/* SCROLL BARRA DE ROLAGEM */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: transparent;
  &:hover {
    background: transparent;
  }
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background: var(--tertiary);
  border-radius: 10px;
  &:hover {
    background: transparent;
  }
}
/* FIM SCROLL BARRA DE ROLAGEM */


nav.extend,
nav.extend:is(:hover, .active) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 0;
  position: fixed;
  color: var(--on-surface);
  transform: none;
  z-index: 100;
  inset-inline-start: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  block-size: auto;
  inline-size: 20rem;
  text-align: center;
  padding: 0.5rem;
  inline-size: 20rem;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--surface);
  gap: 0;
}

nav.extend > a {
  padding: 0.75rem;
  border-radius: 2rem;
  display: flex;
  gap: 1rem;
  inline-size: -webkit-fill-available;
  justify-content: flex-start;
}

nav.extend > a:is(:hover, .active) {
  background-color: var(--secondary-container);
}

nav.extend > * {
  inline-size: -webkit-fill-available;
  justify-content: flex-start;
}

@media only screen and (min-width: 993px) {
  nav.extend ~.responsive {
    padding-inline-start: 20rem;
  }
}

.makeIcon {
    width: 43px;
    height: 43px;
    background: linear-gradient(0deg, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.2) 20%, rgba(255,255,255,0.2) 100%);
    border-radius: 40%;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
menu.min {
    inset-block-start: auto;
}

